body{
    background-image: url("../img/keyboard-computer-keys-white.jpg");
    background-attachment: fixed;
    background-size: cover;
    -o-background-size: cover;
}
.erreur{
    color: red;
}

.erreur ul li{
    list-style-type: none;
}