body{
    background-image: url("../img/photo-couv-1(2).jpg");
    background-attachment: fixed;
    background-size: cover;
    -o-background-size: cover;
}


.bg-div{
    background-color: rgba(214, 214, 214, 0.7);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.erreur{
    color: red;
}

.erreur ul li{
    list-style-type: none;
}